# Assignment 1 Solutions

# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
*,'hello', -87.8,-,/,+,6

In [ ]:
Answer:
Operator : *,-,/,+
Expression : 'hello', 87.8, 6

# 2. What is the difference between string and variable?

In [ ]:
A Variable is used to store information.
A String is a type of information that we store in a Variable. 
A String is a group of characters or a single character usually enclosed in Double quotes " " or single quotes ' '

# 3. Describe three different Data Types ?

In [ ]:
int - int data type is used to represent whole numbers (integral values)
Example: a = 20
float - float data type is used to represent floating point values (decimal values)
Example: b = 1.5
complex - Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j.
Example: c = 5 + 7j

# 4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is made up of values, variables, operators, and calls to functions.
If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.

In [6]:
2*5+50-40 
#Its an Expression, The Python Interpreter Evaluates it to 20

20

# 5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
An expression is made up of values, variables, and operators.
If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.

eg: 2*5+50-40  is an example of a statement

A statement is a unit of code that has an effect, like creating a variable or displaying a value.
When we type a statement, the interpreter executes it, which means that it does whatever the statement says. 
In general, statements donâ€™t have values.

eg: variable declaration and assignment are statements because they do not return a value

# 6.After running the following code, what does the variable bacon contain?

In [ ]:
bacon = 22
bacon + 1

In [ ]:
The variable bacon is set to 22 .
The expression bacon + 1 does not reassign the value in bacon 
(that would the case if the expression is like bacon = bacon + 1 instead of bacon + 1)

In [7]:
# Example 1
bacon=22
bacon+1
print(bacon)

22

In [8]:
#Example 2
bacon=22
bacon=bacon+1 
print(bacon)

23

# 7.What should the values of the following two terms be?

In [ ]:
'spam'+'spamspam'
'spam'*3

'spamspamspam' is String Concatentation and 'spam'*3 is String Multiplication

In [9]:
print('spam'+'spamspam') # string concatenation
print('spam'*3) # string multiplication

spamspamspam
spamspamspam

# 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
Variable names cannot begin with a number. The python rules for naming a variable are :-

1.Variable name must start with a letter or the underscore character.
2.Variable name cannot start with a number.
3.Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
4.Variable names are case-sensitive (name, INEURON and ineuron are three different variables).
5.The reserved words(keywords) cannot be used naming the variable.

In [10]:
egg='Imran' # Valid variable Initilization
100='Hi' # Invalid Variable Initilization
print(egg) #prints the value of egg ie Ineuron
print(100) # Raises a Syntax Error as 100 is not a valid variable name

SyntaxError: cannot assign to literal (<ipython-input-10-c4671446edf8>, line 2)

# 9.What three functions can be used to get the integer,floating-point number,or string version of a value?

In [ ]:
int(),float(),and str() functionswill evaluate to the integer,floating-point number,
string version of the value passed to them.

In [ ]:
# Examples:
print('int(10.0) : ',int(10.0)) # int() function converts given input to int
print('float(10) : ',float(10)) # float() function converts given input to float
print('str(10) : ',str(10)) # str() function converts given input to string

# 10.Why does this expression cause an error? how can you fix it?

In [ ]:
'I have eaten ' + 99 + 'burritos.'

In [11]:
print('I have eaten ' + 99 + 'burritos.')

TypeError: can only concatenate str (not "int") to str

In [ ]:
here the error is 99. 
99 is not a string. 99 must be typecasted to a string to fix this error. 
Input: 'I have eaten ' + str(99) + 'burritos.'

In [12]:
print('I have eaten ' + str(99) + ' burritos.')

I have eaten 99 burritos.